@import '/imports/client/stylesheets/variables.scss';

#first-section {
  position: relative;
  display: flex;
  margin-top: -280px;
  margin-bottom: -130px;


  .first-title {
    margin-top: -130px;
    bottom: 16px;
    font-size: 16px;
    text-align: center;
  }

  .welcome-text {
    font-weight: bold;
    font-size: 37px;
  }
}

.find-wrapper {
  width: 100%;
  max-width: 720px;
  padding: 50px 24px;

  .btn {
    width: 240px;
  }

  label {
    font-weight: bold;
    margin-bottom: .2rem;
  }

  input {
    border-radius: 25px;
  }

  .input-group {

    .btn {
      position: relative;
      width: 100px;

      &.search-button {
        background-color: #f2f2f2;
        border-radius: 0px 25px 25px 0px;
        height: 47px;

        &:active, &:hover, &.active {
          background-color: #d9d9d9 !important;
        }
      }
    }

    .fas.fa-location-arrow {
      background-color: #ffffff;
      border-radius: 25px 0px 0px 25px;
      padding: 15px;
      cursor: pointer;
      color: #666666;

      &:active, &:hover, &.active {
        color: #f57c00;
      }
    }

  }

  .divider {
    margin: 16px 0;
    text-align: center;
    font-weight: bold;
  }

  .error-msg {
    position: relative;
    top: 3px;
    color: #ffffff;
    font-size: 1em;
    text-align: center;
  }

  .center {
    text-align: center;
  }

}

@media screen and (max-width: 900px) {

  #first-section {
  --margin-top: -160px;

    .first-title {
      font-size: 2.2em;
    }
  }


  .find-wrapper {
    --width: 98%;
    padding: 50px 24px;

    .header {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 720px) {

  #first-section {
     margin-bottom: 40px;

    .first-title {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 520px) {

  #hero-bg {
    --display: none;
  }

  #first-section {
    --margin-top: 0;
    margin-bottom: 40px;
    padding: 0;

    .container {
      margin-top: 40px;

      .first-title {
        margin: 0;
        margin-bottom: 24px;
      }
    }

    .find-wrapper {
      background: transparent;
      box-shadow: none;
      width: 100%;
      padding: 0;
    }
  }
}
